@font-face 
{
    font-family: "Raleway";
    src: url("Raleway/Raleway-VariableFont_wght.ttf") ;
}
h1 ,h2 ,a ,p
{
    font-family: 'Raleway', Impact, "Arial Black", Arial, Verdana, sans-serif;
    color: black;
}
p ,a
{
    font-size: 14px;
}

h1
{
    font-size: 22px;
}
h2
{
    font-size: 14px;
    font-weight: bold;
}
i
{
    color: #0065FC;
}
header
{
    display: flex;
    border: solid 1px red; 
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
.entete
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ham
{
    text-decoration: overline;
    color: #0065FC;
}
.aam
{
    text-decoration: none;
}
.inscrire
{ 
    text-decoration: none;
    font-weight: bold;
}
.recherche
{
    border: solid 1px green;
}
nav
{
    display: flex;
    margin-right: 25%;
    border: solid 1px red; 
    align-items: center;
    justify-content: space-between;
}

.a1
{
    display: flex;
    justify-content: space-around;
}
.b1
{
    border: solid 0.5px gray;
    border-radius: 30px;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    display: flex;
}
.b2
{
    border: solid 0.5px gray;
    border-radius: 30px;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    display: flex;
}
.b3
{
    border: solid 0.5px gray;
    border-radius: 30px;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    display: flex;
}
.b4
{
    border: solid 0.5px gray;
    border-radius: 30px;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    display: flex;
}
a:hover
{
   text-decoration: underline;
   color: #DEEBFF;
}
body
{
    background-color: #F2F2F2;
    margin: 2%;
}
.conteneur
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
/* Ajoutez du rembourrage à l'intérieur du conteneur de la carte */
.card_text
{
    line-height: 30%;
    border: solid 1px red;
    padding: 2%;
    width: 250px;
    background-color: white;
}

/* Ajouter des coins arrondis en haut à gauche et en haut à droite de l'image */
img 
{
    border-radius: 10px 10px 0 0;
    max-width: 50%;
	height: auto;
}
.les_plus_populaires
{
    max-width: 400px;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px red; 
    align-items: center;
    justify-content: space-around;
}
.cardpo
{
    width: 400px;
    display: flex;
    border: solid 1px red;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px coins arrondis */
} 
.populaire_img1
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.populaire_img2
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.populaire_img3
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.hebergements_a_marseille
{
    max-width: 75%;
    height: 50%;
    border: solid 1px red;
    align-items: center;
}


.conteneur_card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card
{
   width: 400px;
}

.hebergement_img
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.hebergement_img1
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.hebergement_img2
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.hebergement_img3
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.hebergement_img4
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.hebergement_img5
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.afficher_plus
{ 
    text-decoration: none; 
}
.activités_a_marseille
{
    display: flex;
    border: solid 1px red; 
    align-items: center;
    justify-content: space-around;
}
.activité_img1
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.activité_img2
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.activité_img3
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.activité_img4
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.activité_img5
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.activité_img6
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:solid orangered;
}
.packfooter
{
    display: flex;
    border: solid 1px blue;
    align-items: center;
    justify-content: flex-start;
}
/* Au survol de la souris, ajoutez une ombre plus profonde */
.card:hover 
{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.pack1
{
    border: solid 1px blue;
    padding-right: 10%;
}

.pack2
{
    border: solid 1px blue;
    padding-right: 10%;
}

.pack3
{
    border: solid 1px blue;
}
