@font-face 
{
    font-family: "Raleway";
    src: url("Raleway/Raleway-VariableFont_wght.ttf") ;
}
h1 ,h2 ,a ,p
{
    font-family: 'Raleway', Impact, "Arial Black", Arial, Verdana, sans-serif;
    color: black;
}

.inscrire
{
    color: #0065FC;
}

p ,a
{
    font-size: 14px;
}

h1
{
    font-size: 22px;
}
h2
{
    font-size: 14px;
    font-weight: bold;
}
body
{
	background-color: #F2F2F2;
}

header
{
    display: flex;
    border: solid 1px red; 
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.ham
{
    text-decoration: overline;
    color: #0065FC;
}
.aam
{
    text-decoration: none;
}
.inscrire
{
    text-decoration: none; 
}
.afficher_plus
{ 
    text-decoration: none; 
}
nav
{
    display: flex;
    border: solid 1px red; 
    align-items: center;
    justify-content: space-between;
}

.a1
{
    display: flex;
    border: solid 1px yellow; 
}

.b1
{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.b2
{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.b3
{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.b4
{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
i
{
    color: #0065FC;
}

a:hover
{
   text-decoration: underline;
   color: #DEEBFF;
}
.conteneur
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* Ajoutez du rembourrage à l'intérieur du conteneur de la carte */
.container {
    padding: 2%;
  }
/* Ajouter des coins arrondis en haut à gauche et en haut à droite de l'image */
img 
{
    border-radius: 10px 10px 0 0;
    max-width: 50%;
	height: auto;
}
.hebergements_a_marseille
{
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px red; 
    align-items: center;
    justify-content: space-around;
}
.card 
{
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px coins arrondis */
}
.hebergement_img
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.hebergement_img1
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.hebergement_img2
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.hebergement_img3
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.hebergement_img4
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.hebergement_img5
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.les_plus_populaires
{
    max-width: 20%;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px red; 
    align-items: center;
    justify-content: space-around;
}
.card1
{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px coins arrondis */
} 
.populaire_img1
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.populaire_img2
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.populaire_img3
{
    background-image: url("Projet_2_Reservia/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.activités_a_marseille
{
    display: flex;
    border: solid 1px red; 
    align-items: center;
    justify-content: space-around;
}
.activité_img1
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.activité_img2
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.activité_img3
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.activité_img4
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.activité_img5
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.activité_img6
{
    background-image: url("Projet_2_Reservia/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}





















.packfooter
{
    display: flex;
    border: solid 1px blue;
    align-items: center;
    justify-content: space-between;
}

































/* Au survol de la souris, ajoutez une ombre plus profonde */
.card:hover 
{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.pack1
{
    border: solid 1px blue;
}

.pack2
{
    border: solid 1px blue;
}

.pack3
{
    border: solid 1px blue;
}
